<!DOCTYPE html>
<html ng-app="emoventsApp">
<head>
    <!--- Basic Page Needs
   ================================================== -->
	<meta charset="utf-8">
	<title>EMOVENTS - unique sportainment events for companies</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
  ================================================== -->

	<!-- CSS
   ================================================== -->
	<link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/mobile.css" />
	<link rel="stylesheet" href="../css/slider.css" />
	<link rel="stylesheet" href="../fonts/font.css" />

    <script src="../js/jquery.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/slider.js"></script>
    <script src="../js/script.js"></script>
    <!--<script src="./js/main-animation.js"></script>-->

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic,greek,latin-ext' rel='stylesheet' type='text/css'>

    <!-- Favicons
	================================================== 
	<link rel="shortcut icon" href="favicon.ico" -->

	<!-- Cross  brows
	================================================== -->
	
</head>

<body>
<div id="wrapper" ng-controller="commentsCtrl" ng-init="init()">

	<!-- Start Main Block-->
	<div class="main-block">
        <div class="images">
            <img src="../images/main-block/1.jpg" class="first">
            <img src="../images/main-block/1.jpg" class="second">
        </div>
        <div class="inner-block">
            <ul class="languages">
                <li class="active"><a href="http://www.emovents.lt/company-events/">EN</a></li>
                <li><a href="http://www.emovents.lt/renginiai-imonems/">LT</a></li>
            </ul>
        </div>
        <div id="main-animation">
            <div class="text">
                <h1>Company events</h1>
                <div class="small">
                    We will organize sportainment festival for your company as you have never had before! No headaches on your side. <span>True emotions - guaranteed</span>
                </div>
                <a id="want-expirience" class="button">Want to experience it</a>
            </div>
            <img src="../images/main-bg-company-events.jpg">
            <div id="arrow" class="arrow arrow-animation"></div>
        </div>
	</div>

	<div class="clr"></div>

    <!-- Start For Why Block-->
    <div class="for-why-block pad-top-200 pad-bottom-200">
        <div class="inner-block clearfix">
            <div class="g-6">
                <div class="for-why-text">
                    <span class="icon-unique"></span>
                    <h4>Unique experience</h4>
                    <p>Original challenges and strong emotions bond teammates and leave them with strong memories.</p>
                </div>
            </div>
            <div class="g-6">
                <div class="for-why-text">
                    <span class="icon-teambuilding"></span>
                    <h4>Teambuilding 2.0</h4>
                    <p>Competitive, festive, educational or any format your desire.</p>
                </div>
            </div>
            <div class="g-6">
                <div class="for-why-text">
                    <span class="icon-original"></span>
                    <h4>Original stories</h4>
                    <p>We adapt event scenario to your company's style and image.</p>
                </div>
            </div>
            <div class="g-6">
                <div class="for-why-text">
                    <span class="icon-for"></span>
                    <h4>For everyone</h4>
                    <p>Our events are equally suitable for small businesses as for large corporations.</p>
                </div>
            </div>
            <div class="g-6">
                <div class="for-why-text">
                    <span class="icon-healthy"></span>
                    <h4>Healthy habits</h4>
                    <p>Sport and entertainment, encouragement of active lifestyle - all those are our priorities.</p>
                </div>
            </div>
            <div class="g-6">
                <div class="for-why-text">
                    <span class="icon-afterpary"></span>
                    <h4>Afterparty and surprises</h4>
                    <p>Surengiame entertaining celebration of one DJ to the light and music show.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="clr"></div>

    <!-- Start Goal Block-->
    <div class="goal-block-company-events pad-top-160 pad-bottom-160">
        <div class="inner-block">
            <span class="icon-what"></span>
            <h3>What challenges to expect?</h3>
            <div class="text">
                We have numerous different challenges. Not enough? In Hercules Trophy events globally there are over 120 challenges that have been conducted! Together with you we will select the best challenges for your company's employees and we will help you to join all of it with the values and culture of your company. O maybe you are brave to try and test new challenges? Below there are several most popular ideas. Do you like it? Wait until you see the rest!
            </div>
        </div>
    </div>

    <div class="clr"></div>

	<!-- Start What we do Block-->
	<div class="what-we-do-block-company-events pad-top-160 pad-bottom-200">
        <div class="inner-block">
            <ul id="content-slider" class="content-slider">
                <li>
                    <div class="left-block">
                    	<div class="small">Strategy</div>
                    	<div class="text">Wooden cart</div>
                    	<div class="text">construction</div>
					</div>
					<div class="right-block">
                    	<div class="text pad-bottom-25">The aim of this task - construct your own card.  Attentiveness and collaboration within the team are essential. Winners will cross the finish first!</div>
					</div>
                </li>
                <li>
                    <div class="left-block">
                        <div class="small">Agility</div>
                        <div class="text">Bubblet</div>
                        <div class="text">soccer</div>
                    </div>
                    <div class="right-block">
                        <div class="text pad-bottom-25">Two teams play football against each with with many small balls. All players are inside big, inflatable bubbles. It is most fun football one has ever played.</div>
                    </div>
                </li>
                <li>
                    <div class="left-block">
                        <div class="small">Harmony</div>
                        <div class="text">Flip-it</div>
                        <div class="text">cube</div>
                    </div>
                    <div class="right-block">
                        <div class="text pad-bottom-25">Teammates have to flip a giant cube while standing inside. Synchronizing actions is essential. The most harmonic team wins.</div>
                    </div>
                </li>
                <li>
                    <div class="left-block">
                        <div class="small">Power</div>
                        <div class="text">Truck</div>
                        <div class="text">pulling</div>
                    </div>
                    <div class="right-block">
                        <div class="text pad-bottom-25">No,this task is not only for World's strongest people. Five person team, even with women in front is able to do that! Short, intense and unbelievable task. Warning - do not do that alone!</div>
                    </div>
                </li>
                <li>
                    <div class="left-block">
                        <div class="small">Teamwork</div>
                        <div class="text">Obstacle</div>
                        <div class="text">course</div>
                    </div>
                    <div class="right-block">
                        <div class="text pad-bottom-25">Team will negotiate course with inflatable and other obstacles.  It is not only the speed but also getting teammate's hand in time determines who comes first!</div>
                    </div>
                </li>
            </ul>
            <div class="gallery">
                <a id="open-gallery" class="button">
                    <span class="icon-gallery"></span>
                    Gallery
                </a>
            </div>
        </div>
	</div>

	<div class="clr"></div>

    <!-- Start Start Planing Block-->
    <div class="start-planning-block pad-top-200 pad-bottom-200">
        <div class="inner-block">
            <!--<span class="icon-original"></span>-->
            <h3>Let's start planning together</h3>
            <form class="clearfix">
                <div class="g-4">
                    <label for="name">First name</label>
                    <input type="text" name="name" id="name" placeholder="Enter Your Name" />
                </div>
                <div class="g-4">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="Enter Your Email" />
                </div>
                <div class="g-4">
                    <label for="phone">Phone number</label>
                    <input type="text" name="phone" id="phone" placeholder="Enter Your Phone Number" />
                </div>

                <div class="clr"></div>

                <div class="g-8 g-4">
                    <label for="description">Describe your needs</label>
                    <textarea type="text" name="description" id="description" placeholder="Enter Your Needs"></textarea>
                </div>
                <div class="g-4">
                    <div class="text">Wish to talk immediately?</div>
                    <div class="text">Call us at <span>+370 67615445</span></div>
                </div>

                <div class="clr"></div>

                <div class="g-8 g-4">
                    <input type="submit" class="button" value="Send me the offer">
                </div>
            </form>
        </div>
    </div>

    <div class="clr"></div>

	<!-- Start Comments Block-->
	<div class="comments-block pad-top-200 pad-bottom-200">
        <div class="inner-block">
            <ul id="comments-slider" class="content-slider">
                <li ng-repeat="comment in comments">
                    <div class="left-block">
                    	<div class="small">{{ comment.Name }}</div>
                    	<div class="text">{{ comment.OrganizationFirstRow }}</div>
                    	<div class="text">{{ comment.Name }}</div>
					</div>
					<div class="right-block">
                        <div class="quote"></div>
                    	<div class="text">{{ comment.ENG.CommentFirstRow }}</div>
                    	<div class="text">{{ comment.ENG.CommentSecondRow }}</div>
                    	<div class="text pad-bottom-25">{{ comment.ENG.CommentThirdRow }}</div>
					</div>
                </li>
            </ul>
            <div class="add-comment">
                Participated already? <br>
                <span class="open-popup">Leave a Testimonial</span>, please!
            </div>
        </div>
	</div>

	<div class="clr"></div>

	<!-- Start Sponsors Block-->
	<div class="sponsors-block pad-top-160 pad-bottom-160">
        <div class="inner-block">
        	<ul id="sponsors-slider-first" class="sponsors-slider-first">
                <li ng-if="sponsor.Row1" ng-repeat="sponsor in sponsors">
                	<div>
                		<img ng-src="{{ sponsor.File }}" alt="{{ sponsor.Sponsor}}">
                	</div>
                </li>
            </ul>

            <div class="clr"></div>

        	<ul id="sponsors-slider-second" class="sponsors-slider-first">
                <li ng-if="sponsor.Row2" ng-repeat="sponsor in sponsors">
                    <div>
                        <img ng-src="{{ sponsor.File }}" alt="{{ sponsor.Sponsor }}">
                    </div>
                </li>
            </ul>
        </div>
	</div>

    <div class="clr"></div>

    <!-- Start Footer Block-->
    <div class="footer-block">
        <div class="contacts">
            <h4>Contacts</h4>
            <div class="text">
                <a href="mailto:info@emovents.lt">info@emovents.lt</a> <br>
                +370 67615445

                <div class="copyright">
                    ©EMOVENTS 2015
                </div>
            </div>
        </div>
        <img src="../images/main-bg-3.jpg">
    </div>

    <div class="clr"></div>

    <!-- Start Subscribe Block-->
    <div class="subscribe-block">
        <div class="inner-block">
            <form method="">
                <label for="sEmail">Subscribe for updates</label>
                <input type="text" name="sEmail" id="sEmail" placeholder="Enter Your Email" />
                <input type="submit" id="subscribe" class="button" value="SUBSCRIBE" />
            </form>
        </div>
    </div>


</div><!-- End Wrapper-->

    <!-- Start Comments Pop-up-->

    <div class="pop-up" id="testimonial">
        <div class="testimonial">
            <div class="close-btn"></div>
            <h3>Leave testimonial</h3>
            <form class="clearfix">
                <div class="g-4">
                    <label for="tName">First name</label>
                    <input type="text" name="tName" id="tName" placeholder="Enter Your Name" />
                </div>
                <div class="g-4">
                    <label for="tEmail">Email</label>
                    <input type="text" name="tEmail" id="tEmail" placeholder="Enter Your Email" />
                </div>
                <div class="g-4">
                    <label for="tCompany">Company name</label>
                    <input type="text" name="tCompany" id="tCompany" placeholder="Enter Your Company Name" />
                </div>

                <div class="clr"></div>

                <div class="g-12">
                    <label for="tTestimonial">Leave you testimonial here (1-2 short sentences)</label>
                </div>

                <div class="clr"></div>

                <div class="g-8 g-4">
                    <textarea type="text" name="tTestimonial" id="tTestimonial" placeholder="Enter Your Testimonial"></textarea>
                </div>
                <div class="g-4">
                    <div class="text">Thank you!</div>
                    <div class="text">We appreciate your opinion!</div>
                </div>

                <div class="clr"></div>

                <div class="g-8 g-4">
                    <input type="submit" class="button" value="Leave testimonial">
                </div>
            </form>
        </div>
    </div>


    <!-- Start Comments Gallery-->
    <div class="pop-up" id="gallery">
        <div class="gallery">
            <div class="close-gallery"></div>
            <ul id="imageGallerys">
              <li data-thumb="http://sachinchoolur.github.io/lightslider/img/cS-6.jpg" data-src="http://sachinchoolur.github.io/lightslider/img/cS-6.jpg">
                <img src="http://sachinchoolur.github.io/lightslider/img/cS-6.jpg" />
              </li>
              <li data-thumb="http://sachinchoolur.github.io/lightslider/img/cS-6.jpg" data-src="http://sachinchoolur.github.io/lightslider/img/cS-6.jpg">
                <img src="http://sachinchoolur.github.io/lightslider/img/cS-6.jpg" />
              </li>
            </ul>
        </div>
    </div>

    <div class="pop-up-bg">
    </div>

</body>
</html>