@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: url(../themes.googleusercontent.com/static/fonts/badscript/v3/xvnrV3H3fZsc-fSw6fOJeFQlYEbsez9cZjKsNMjLOwM.eot)/*tpa=http://themes.googleusercontent.com/static/fonts/badscript/v3/xvnrV3H3fZsc-fSw6fOJeFQlYEbsez9cZjKsNMjLOwM.eot*/;
  src: local('Bad Script Regular'), local('BadScript-Regular'), url(../themes.googleusercontent.com/static/fonts/badscript/v3/xvnrV3H3fZsc-fSw6fOJeFQlYEbsez9cZjKsNMjLOwM.eot)/*tpa=http://themes.googleusercontent.com/static/fonts/badscript/v3/xvnrV3H3fZsc-fSw6fOJeFQlYEbsez9cZjKsNMjLOwM.eot*/ format('embedded-opentype'), url(../themes.googleusercontent.com/static/fonts/badscript/v3/xvnrV3H3fZsc-fSw6fOJeBsxEYwM7FgeyaSgU71cLG0.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/badscript/v3/xvnrV3H3fZsc-fSw6fOJeBsxEYwM7FgeyaSgU71cLG0.woff*/ format('woff');
}
